body{
    background-color: palevioletred;
    text-align: center;
}

h1{
    padding: 20px 20px;
}
img{
    margin:0px;
    height: 200px;
    width: 200px;
    align-items: center;
}

#dropdown{
    color:white;
    background-color: black;
    border: 2px solid black;
    padding: 15px;
    border-radius: 20px;
    font-weight:900;
    font-size: large;
}